body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #20A8D8 0%, #115972 100%);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-top: 30px solid #fff;
    border-bottom: 30px solid #fff;
    padding-left: 50px;
}

.login-container h2 {
    text-align: left;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    width: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.login-form h2 {
    color: #115972;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #115972;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px); /* Adjusted width for better alignment */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    background-color: #115972;
    color: #fff;
    border: none;
    padding: 12px 80px; /* Adjusted padding for longer button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #20A8D8;
}

.image-container {
    width: 50%;
    height: 57vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #115972;
    margin-right: 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
