body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #20A8D8 0%, #115972 100%);
}

.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border-top: 5px solid #fff;
    border-bottom: 5px solid #fff; */
    padding: 0px 140px;
}

.login-container h2 {
    text-align: left;
}

.line{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 20px;
    margin: auto;
}

.line.top{
    top: 0;
}

.line.bottom{
    bottom: 0;
}

.header{
    position: absolute;
    top: -9vw;
    right: -21vw;
    width: max-content;
}

.header h1{
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 2.8em;
}

.login-form {
    position: relative;
    background-color: #fff;
    padding: 40px;
    width: 50%;
    max-height: 290px;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 5px solid #ffffff;
    border-right: none;
}

.login-form h2 {
    color: #115972;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #115972;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px); /* Adjusted width for better alignment */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    background-color: #115972;
    color: #fff;
    border: none;
    padding: 12px 80px; /* Adjusted padding for longer button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #20A8D8;
}

.image-container {
    width: 50%;
    padding: 40px;
    max-height: 290px;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #115972;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 5px solid #ffffff;
    border-left: none;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
