/*start header footer*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* ::-webkit-scrollbar{
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 98px;
    margin-left: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 62px;
    align-items: center;
}

.navbar ul li:last-child{
    margin-right: 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-size: 1.5em;
}

.navbar ul li a.active{
    color: #20A8D8;
}

.navbar ul li a.active:hover{
    text-decoration: underline;
}

.navbar ul li a.nonActive:hover {
    color: #20A8D8;
}


footer {
    background-color: #404A49;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content img {
    height: 98px;
    margin-bottom: 0px;
}

.social-icons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    min-width: 50px;
    align-items: center;
    margin: 15px 10px;
    color: #fff;
    text-decoration: none;
}

.social-icons img {
    height: 35px; 
    margin-right: 5px; 
}

.social-icons a:hover {
    text-decoration: underline;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
}

.footer-nav ul li{
    width: 133px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

#trademarks{
    margin: 0;
    font-size: 1.2em;
}
/*end header footer*/

/* container address email whatsapp*/
.container { /*bagian address whatsapp dan email */
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../assets/assets contactUs/image 13.png");
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}
.background-contact-info{ /* abu2 background*/
    max-width: 80%;
    background-color: #35515b84;
    /* opacity: 0.5; */
    margin: 0 auto;
    border-radius: 5px;
}
.contact-info {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    margin: 0 auto;
    color: white;
}
.contact-info div {
    flex: 1;
    padding: 20px;
}
.contact-info div:not(:last-child) {
    border-right: 1px solid #fff;
}
.contact-info div h3 {
    margin: 10px 0;
    font-size: 2em;
}
.contact-form {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1); 
    max-width: 600px;   
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #20A8D8;
    font-size: 1.2em;
    font-weight: 600;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border-color: #20A8D8; 
    box-shadow: 0 0 8px rgba(32, 168, 216, 0.5);
    outline: none; 
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.form-group label[for="terms"] {
    display: inline;
    color: #000;
    font-size: 15px;
    font-weight: lighter;
}

button[type="submit"] {
    padding: 10px 40px;
    background-color: #015581;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #20A8D8;
    transform: translateY(-3px);
    transition: 0.6s ease-in-out;
}

.contact-form h1{
    font-weight: 1000;
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
}
.contact-form h2{
    font-size: 24px;
    text-align: left;
    color: #20A8D8;
}
